body{
  background-color: #D6D6D6;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  color: white;
  left: 2%;
  position: relative;
  font-size: 2.5rem;
}

.blob{
  opacity:0.5;
  z-index: -1;
  top: 0;

}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


@media (max-width: 1199px){
 .blob{
  left: 24%;
  top: 35%;
 }
 .typing-demo{
  font-size: 15px;
  top: -9%;
 }
}
