<section>
  <div class="main container dark:bg-neutral-900" id="main">
    <div class="row justify-content-center">
    <div class="col-12 cold-md-8 main-info">
      <h2>About</h2>
      <%= image_tag "2022-11-09 (2).png", class: "sibs" %>
      <p class="indent-8 dark:text-gray-300">Full stack web developer based in Glasgow. I have recently graduated from Le wagon, which is the worlds leading coding bootcamp. Le Wagon has helped me grow more confident in my code, grasp a true understanding of frontend and backend, and solidified my decision of wanting to grow in the tech industry.</p>
      <p class="indent-8 dark:text-gray-300">After finishing the bootcamp, I am now focusing on furthering my skills in React and testing.</p>
    </div>
  </div>
  <div class="tech-stack rounded-xl p-3 mt-3 mb-3 dark:bg-neutral-800">
    <h2>My Skills</h2>
    <div class="flex justify-content-center">
    <%= image_tag "Web_Dev_Icons.png", class: "lang" %>
    </div>
  </div>
  </div>
</section>
