<section>
  <div class="container">
    <div class="about">
      <h2>About</h2>
      <%= image_tag "2022-11-09 (2).png", class: "sibs" %>
      <p>Full stack web developer based in Glasgow. I have recently graduated from Le wagon, which is the worlds leading coding bootcamp. Le Wagon has helped me grow more confident in my code, grasp a true understanding of frontend and backend, and solidified my decision of wanting to grow in the tech industry. After finishing the bootcamp, I am now focusing on learning React and testing.</p>
    </div>
  </div>
  <div class="languages">
    <h2>My Skills</h2>
    <%= image_tag "Web_Dev_Icons.png", class: "lang" %>
  </div>
</section>
