<div class="contact-container">
  <form onsubmit="sendEmail(); reset(); return false;">
    <h3>Get in touch</h3>
    <input type="text" id="name" placeholder="Your Name" required>
    <input type="email" id="email" placeholder="Enter Email"required>
    <input type="text" id="phone" placeholder="Phone no.">
    <textarea id="message" rows="4" placeholder="Type your message here."required></textarea>
    <button type="submit">Send</button>
  </form>
</div>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  function sendEmail() {
    Email.send({
    SecureToken : "a86cf1ac-5b54-4f7f-93e9-c511ccdfadb6",
    To : 'chelsea.j.roberts@hotmail.com',
    From : document.getElementById('email'),
    Subject : "This is the subject",
    Body : "And this is the body"
}).then(
  message => alert(message)
);
  }
</script>
