<div class="wrapper">
  <div class="blob position-absolute w-50">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FA4D56" d="M49.9,-69C65,-57.7,77.7,-43.6,84.6,-26.5C91.5,-9.5,92.5,10.5,85.8,26.8C79,43.1,64.3,55.7,48.7,61C33.1,66.2,16.6,64.1,1.6,61.9C-13.4,59.6,-26.7,57.4,-41,51.7C-55.4,46.1,-70.7,37,-78,23.3C-85.2,9.6,-84.5,-8.8,-77.1,-23.1C-69.8,-37.3,-55.8,-47.4,-41.8,-59.1C-27.9,-70.7,-13.9,-83.9,1.7,-86.3C17.4,-88.7,34.8,-80.3,49.9,-69Z" transform="translate(100 100)" />
    </svg>
  </div>
  <div class="typing-demo">
    Full stack developer
  </div>
</div>
