<section>
  <div class="p-container">
    <h1>Porfolio</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><%= image_tag "spaceships.png" %></div>
          <div class="card_content">
            <h2 class="card_title">Goodbye Earth</h2>
            <p class="card_text">A project created by myself and three other teammates during our "AirBnb clone week" at Le Wagon. This was our first time collaborating with one another, giving us the opportunity to experience work flow and the importance of communication. </p>
            <a href="https://goodbye-heroku-planet.herokuapp.com/" target="blank" id="card-btn"><button class="btn card_btn">Link</button></a>
            <a href="https://github.com/rvmby/goodbye_earth/" target="blank" id="card-btn"><button class="btn card_btn">Code</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><%= image_tag "fresh-picks.png" %></div>
          <div class="card_content">
            <h2 class="card_title">Fresh Picks</h2>
            <p class="card_text">Fresh Picks is a web app for climate concious people search for seasonal produce in the UK to keep their carbon footprint and costs down. The languages we implemented were HTML, SCSS, Bootstrap, Ruby, Ruby on Rails, JavaScript, Stimulis, SQL, as well as seeding our own database. </p>
            <a href="https://www.fresh-picks.shop/" target="blank" id="card-btn"><button class="btn card_btn">Link</button></a>
            <a href="https://github.com/PerdiEdgePartington/fresh_picks/" target="blank" id="card-btn"><button class="btn card_btn">Code</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><%= image_tag "profile.png" %></div>
          <div class="card_content">
            <h2 class="card_title">Profile</h2>
            <p class="card_text">My first project made on my lonesome after Le Wagon. The languages used were HTML, CSS, SCSS, Bootstrap, Ruby on Rails, JavaScript</p>
            <a href="#" id="card-btn"><button class="btn card_btn">Link</button></a>
            <a href="https://github.com/Chelsea46/profile" target="blank" id="card-btn"><button class="btn card_btn">Code</button></a>
          </div>
        </div>
      </li>
  </div>
</section>
