.profile img{
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 6px solid white;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #D6D6D6;
  overflow-y: auto;
}

#header .profile h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #EFA1A7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.sideNav .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #EFA1A7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.ruby-link{
  display: flex;
  align-items: center;
  color: white;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 19px;
}

.ruby-link:hover{
  text-decoration: none;
  color: #EFA1A7;
}

.ruby-link i{
  margin: 10px;
}

.menubtn{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}

.sideNav{
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  transition: 0.3 ease-in;
  display: block;
  padding-top: 60px;
  left: -300px;
   li{
    list-style: none;
  }

}

.closebtn{
  position: absolute;
}

// @media (min-width: 1200px)
// {
//   .d-xl-none {
//   display: none!important;
// }
// }

@media (max-width: 1199px){
  .menubtn{
    display: flex;
  }
  #header {
    left: -300px;
  }
  .sideNav{
    display: block !important;
    height: 31%;
  }
}
